input{
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0;
	font-family: "Arial",sans-serif;
	font-size: 12pt;

}
hr{
	margin-top: 20px;
	color: white;
}
.box{
	margin: 0 auto;
	margin-top: 50px;
	width: 420px;
}
.box-header{
	z-index: 3;
	height: 50px;
	background: rgb(255,10,10);
	text-align: center;
	line-height: 50px;
	font-family: "Arial",sans-serif;
	color: white;
	font-size: 22pt;
	font-weight: bold;
	box-shadow: 1px 3px 2px gray;
	border-radius: 25px;
	margin-bottom: 8px;
}
.box-body{
	z-index: 2;
	width: 340px;
	margin: 0 auto;
	padding:25px;
	background:rgb(160,160,160);
	border-radius: 20px;
	box-shadow: 1px 3px 2px gray;

}
.box{
	margin: 0 auto;
	margin-top: 50px;
	width: 420px;
}
.box-body div input,.box-body div button{
	margin-top: 10px;
}
.box-body div button{
	position: relative;
	top: 5px;
	left: 130px;
	width: 80px;
	height: 30px;
	background-color: red;
	color: white;
	font-family: "Arial",sans-serif;
	font-size: 12pt;
	font-weight: bold;
	border: 1px white solid;
	border-radius: 30px;
}
.box-body div button:hover{
	background-color: white ;
	color: red;
}
.input{
	width: 325px;
	margin: 0;
	border: 1px white solid;
	border-radius: 25px;
}
.box-body div{
	margin: 0 auto;
}
.box-body a{
	text-decoration: none;
	color: white;
	font-family: "Arial",sans-serif;
	font-size: 12pt;
}